# OS garbage
.DS_Store
desktop.ini

# IDE garbage
.idea/

# Livy batch files, copied over from elsewhere, except one sample batch
data/batches/*
!data/batches/sample_batch.py

# Spark job results
data/output/
dfs-master/
dfs-work1/
dfs-work2/
airflow/logs/
data/dbivp1-1.0-SNAPSHOT-jar-with-dependencies.jar
